* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background:  #00c1c1;
}
h1 {
    font-family: cursive;
}
.container {
    color: #fff;
    text-align: center;
    padding: 5em;
}
.form input, .btn {
    display: inline-block;
    padding: 10px;
    border: 2px solid #aee2e2;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    background-color: #7ee4e4;
    outline: none;
}
.form input::placeholder {
    color: #005c5c;
}
.form .btn {
    background: #fff;
    color: #005c5c;
    cursor: pointer;
}